@use 'navbar';
@use 'redes-fixed';
@use 'presentation';
@use 'transition';
@use 'me';
@use 'tecnologies';
@use 'modal';
body{
    margin-left: 0;
    margin-top: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
    overflow-x: hidden;

}

.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 900px;
    &__p{
     color: #fff;
     font-size: 60px;
     font-weight: bold;
     margin: 20px;
    }
}
article{
    color: #fff;
}